In [59]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

/kaggle/input/wiki_movie_plots_deduped.csv

# 1. Basic feature extraction using text data

In [60]:
# read the data
data=pd.read_csv('/kaggle/input/wiki_movie_plots_deduped.csv')

In [61]:
data.head()

,Release Year,Title,Origin/Ethnicity,Director,Cast,Genre,Wiki Page,Plot
0,1901,Kansas Saloon Smashers,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/Kansas_Saloon_Sm...,"A bartender is working at a saloon, serving dr..."
1,1901,Love by the Light of the Moon,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/Love_by_the_Ligh...,"The moon, painted with a smiling face hangs ov..."
2,1901,The Martyred Presidents,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/The_Martyred_Pre...,"The film, just over a minute long, is composed..."
3,1901,"Terrible Teddy, the Grizzly King",American,Unknown,NaN,unknown,"https://en.wikipedia.org/wiki/Terrible_Teddy,_...",Lasting just 61 seconds and consisting of two ...
4,1902,Jack and the Beanstalk,American,"George S. Fleming, Edwin S. Porter",NaN,unknown,https://en.wikipedia.org/wiki/Jack_and_the_Bea...,The earliest known adaptation of the classic f...

In [62]:
#count the number of words in each plot
data['plot_word_count'] = data['Plot'].apply(lambda x: len(str(x).split(" ")))
data[['Plot','plot_word_count']].head()

                                                Plot  plot_word_count
0  A bartender is working at a saloon, serving dr...               83
1  The moon, painted with a smiling face hangs ov...               86
2  The film, just over a minute long, is composed...               75
3  Lasting just 61 seconds and consisting of two ...              153
4  The earliest known adaptation of the classic f...              140

In [63]:
#count the number of words in each Genre
data['Genre_word_count'] = data['Genre'].apply(lambda x: len(str(x).split(" ")))
data[['Genre','Genre_word_count']].head()
#data[data['Genre_word_count']>1]

     Genre  Genre_word_count
0  unknown                 1
1  unknown                 1
2  unknown                 1
3  unknown                 1
4  unknown                 1

In [64]:
# No of charecters in plot
data['plot_char_count'] = data['Plot'].str.len() ## this also includes spaces
data[['Plot','plot_char_count']].head()

                                                Plot  plot_char_count
0  A bartender is working at a saloon, serving dr...              500
1  The moon, painted with a smiling face hangs ov...              437
2  The film, just over a minute long, is composed...              436
3  Lasting just 61 seconds and consisting of two ...              890
4  The earliest known adaptation of the classic f...              732

In [65]:
# Average word length
def avg_word(sentence):
  words = sentence.split()
  return (sum(len(word) for word in words)/len(words))

data['plot_avg_word'] = data['Plot'].apply(lambda x: avg_word(x))
data[['Plot','plot_avg_word']].head()

                                                Plot  plot_avg_word
0  A bartender is working at a saloon, serving dr...       5.036145
1  The moon, painted with a smiling face hangs ov...       4.093023
2  The film, just over a minute long, is composed...       4.736842
3  Lasting just 61 seconds and consisting of two ...       4.823529
4  The earliest known adaptation of the classic f...       4.235714

In [66]:
# Number of stopwords
from nltk.corpus import stopwords
stop = stopwords.words('english')

data['plot_stopwords_count'] = data['Plot'].apply(lambda x: len([x for x in x.split() if x in stop]))
data[['Plot','plot_stopwords_count']].head()

                                                Plot  plot_stopwords_count
0  A bartender is working at a saloon, serving dr...                    30
1  The moon, painted with a smiling face hangs ov...                    34
2  The film, just over a minute long, is composed...                    29
3  Lasting just 61 seconds and consisting of two ...                    62
4  The earliest known adaptation of the classic f...                    60

In [67]:
# Number of stopwords :p
from nltk.corpus import stopwords
stop = stopwords.words('english')

data['Genre_stopwords_count'] = data['Genre'].apply(lambda x: len([x for x in x.split() if x in stop]))
data[['Genre','Genre_stopwords_count']].head()

     Genre  Genre_stopwords_count
0  unknown                      0
1  unknown                      0
2  unknown                      0
3  unknown                      0
4  unknown                      0

In [68]:
import re 

def special_char(string): 
    regex = re.compile('[@_!#$%^&*()<>?/\|}{~:]')    
    if(regex.search(string) != None): 
        return string 

data['spl_char'] = data['Plot'].apply(lambda x: special_char(x))
data[['Plot','spl_char']]

,Plot,spl_char
0,"A bartender is working at a saloon, serving dr...",None
1,"The moon, painted with a smiling face hangs ov...",None
2,"The film, just over a minute long, is composed...",None
3,Lasting just 61 seconds and consisting of two ...,None
4,The earliest known adaptation of the classic f...,None
5,"Alice follows a large white rabbit down a ""Rab...","Alice follows a large white rabbit down a ""Rab..."
6,The film opens with two bandits breaking into ...,None
7,The film is about a family who move to the sub...,None
8,The opening scene shows the interior of the ro...,None
9,Scenes are introduced using lines of the poem....,None
10,The Rarebit Fiend gorges on Welsh rarebit at a...,None
11,The film features a train traveling through th...,None
12,Irish villager Kathleen is a tenant of Captain...,None
13,Boone's daughter befriends an Indian maiden as...,None
14,Before heading out to a baseball game at a nea...,None
15,The plot is that of a black woman going to the...,None
16,On a beautiful summer day a father and mother ...,None
17,A thug accosts a girl as she leaves her workpl...,None
18,A young couple decides to elope after being ca...,None
19,A white girl (Florence Lawrence) rejects a pro...,A white girl (Florence Lawrence) rejects a pro...
20,No prints of the first American film adaptatio...,None
21,The film opens in a town on the Mexican border...,None
22,A rejected admirer sets up a trap to kill his ...,None
23,"John Wharton, the husband of a true and trusti...",None
24,An old woman sends a girl begging in the stree...,None
25,The story as told by Moving Picture World read...,The story as told by Moving Picture World read...
26,Mary Pickford plays Priscilla an unemployed ma...,None
27,"The day before Christmas, Ebenezer Scrooge ref...",None
28,"Described as ""a liberal adaptation of Mrs. She...","Described as ""a liberal adaptation of Mrs. She..."
29,Hemlock Hoax is a detective who has little res...,None
...,...,...
34856,The film tells the tragic story of an Iraqi-Tu...,None
34857,"Semahat, whose parents emigrated to İstanbul f...",None
34858,Güven works at an accounting firm and leads an...,None
34859,The film follows two anti-terror officers from...,None
34860,"The life of Akın, who lives in one of the poor...",None
34861,An American professor travels to Istanbul to f...,None
34862,Sanem (Didem Soylu) is a prostitute who shares...,Sanem (Didem Soylu) is a prostitute who shares...
34863,Şaban Agha (Şevket Emrulla) lives in a small M...,Şaban Agha (Şevket Emrulla) lives in a small M...
34864,"Hüseyin (Ata Demirer), a clarinetist from a vi...","Hüseyin (Ata Demirer), a clarinetist from a vi..."
34865,Muslim Kurdish scholar Said Nursî passes throu...,None
34866,Emrah is a dreamer who hopes to be a great dir...,None
34867,"Şahin K. is a wealthy and famous (or, rather, ...","Şahin K. is a wealthy and famous (or, rather, ..."
34868,"One September morning in 1977 in Ankara, a you...",None
34869,"Abandoned with a son by her husband years ago,...",None
34870,"It is the early 1990s, and a handful of journa...",None
34871,Erdem and Sevil live in a small town with thei...,Erdem and Sevil live in a small town with thei...
34872,"Zephyr is a strong-willed little girl, spendin...",None
34873,Kenan is a 35-year-old toll booth attendant st...,None
34874,Hasan is a twelve-year-old boy living with his...,None
34875,"Through the night, three cars carry a small gr...","Through the night, three cars carry a small gr..."
34876,The film opens with a Senegalese boy named Kha...,The film opens with a Senegalese boy named Kha...
34877,"Zeynep lost her job at weaving factory, and he...",None
34878,Cavit an ambitious industralist in İstanbul pl...,None
34879,"Aydın, a former actor, owns a mountaintop hote...","Aydın, a former actor, owns a mountaintop hote..."
34880,The film follows an eleven-year-old boy named ...,The film follows an eleven-year-old boy named ...
34881,"The film begins in 1919, just after World War ...","The film begins in 1919, just after World War ..."
34882,"Two musicians, Salih and Gürkan, described the...",None
34883,"Zafer, a sailor living with his mother Döndü i...",None
34884,The film centres around a young woman named Am...,The film centres around a young woman named Am...
34885,The writer Orhan Şahin returns to İstanbul aft...,None

In [69]:
data['spl_char_genre'] = data['Genre'].apply(lambda x: special_char(x))
data[['Genre','spl_char_genre']]

                            Genre              spl_char_genre
0                         unknown                        None
1                         unknown                        None
2                         unknown                        None
3                         unknown                        None
4                         unknown                        None
5                         unknown                        None
6                         western                        None
7                          comedy                        None
8                         unknown                        None
9                         unknown                        None
10                          short                        None
11     short action/crime western  short action/crime western
12                     short film                        None
13                   biographical                        None
14                         comedy                        None
15                         comedy                        None
16                          drama                        None
17                          drama                        None
18                         comedy                        None
19                      adventure                        None
20                          drama                        None
21                        western                        None
22                          drama                        None
23                          drama                        None
24                          drama                        None
25                        unknown                        None
26                          drama                        None
27                        unknown                        None
28                        unknown                        None
29                         comedy                        None
...                           ...                         ...
34856                       drama                        None
34857                       drama                        None
34858                       drama                        None
34859                      action                        None
34860                       drama                        None
34861                      action                        None
34862                       drama                        None
34863                       drama                        None
34864                      comedy                        None
34865                       drama                        None
34866                comedy-drama                        None
34867                      comedy                        None
34868                       drama                        None
34869                comedy-drama                        None
34870                       drama                        None
34871                       drama                        None
34872                comedy-drama                        None
34873                       drama                        None
34874                       drama                        None
34875                       drama                        None
34876                       drama                        None
34877                  drama film                        None
34878                     unknown                        None
34879                     unknown                        None
34880                     unknown                        None
34881                     unknown                        None
34882                      comedy                        None
34883                      comedy                        None
34884             romantic comedy                        None
34885                    romantic                        None

[34886 rows x 2 columns]

In [70]:
# Number of numerics
data['numeric_plot_count'] = data['Plot'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
data[['Plot','numeric_plot_count']].head()

                                                Plot  numeric_plot_count
0  A bartender is working at a saloon, serving dr...                   0
1  The moon, painted with a smiling face hangs ov...                   0
2  The film, just over a minute long, is composed...                   0
3  Lasting just 61 seconds and consisting of two ...                   1
4  The earliest known adaptation of the classic f...                   0

In [71]:
# Number of numerics
data['numeric_genre_count'] = data['Genre'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
data[['Genre','numeric_genre_count']].head()

     Genre  numeric_genre_count
0  unknown                    0
1  unknown                    0
2  unknown                    0
3  unknown                    0
4  unknown                    0

In [72]:
# Number of Uppercase words
data['upper_plot'] = data['Plot'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
data[['Plot','upper_plot']].head()

                                                Plot  upper_plot
0  A bartender is working at a saloon, serving dr...           1
1  The moon, painted with a smiling face hangs ov...           1
2  The film, just over a minute long, is composed...           2
3  Lasting just 61 seconds and consisting of two ...           0
4  The earliest known adaptation of the classic f...           0

In [73]:
#uppercase words in Genre
data['upper_genre'] = data['Genre'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
data[['Genre','upper_genre']].head()

     Genre  upper_genre
0  unknown            0
1  unknown            0
2  unknown            0
3  unknown            0
4  unknown            0

# Basic Pre-processing

In [74]:
# Lower case
data['Plots_Cleaned_A'] = data['Plot'].apply(lambda x: " ".join(x.lower() for x in x.split()))
data[['Plot','Plots_Cleaned_A']].head()

,Plot,Plots_Cleaned_A
0,"A bartender is working at a saloon, serving dr...","a bartender is working at a saloon, serving dr..."
1,"The moon, painted with a smiling face hangs ov...","the moon, painted with a smiling face hangs ov..."
2,"The film, just over a minute long, is composed...","the film, just over a minute long, is composed..."
3,Lasting just 61 seconds and consisting of two ...,lasting just 61 seconds and consisting of two ...
4,The earliest known adaptation of the classic f...,the earliest known adaptation of the classic f...

In [75]:
#Remove punctuations
data['Plots_Cleaned_A'] = data['Plots_Cleaned_A'].str.replace('[^\w\s]','')
data[['Plot','Plots_Cleaned_A']].head()

,Plot,Plots_Cleaned_A
0,"A bartender is working at a saloon, serving dr...",a bartender is working at a saloon serving dri...
1,"The moon, painted with a smiling face hangs ov...",the moon painted with a smiling face hangs ove...
2,"The film, just over a minute long, is composed...",the film just over a minute long is composed o...
3,Lasting just 61 seconds and consisting of two ...,lasting just 61 seconds and consisting of two ...
4,The earliest known adaptation of the classic f...,the earliest known adaptation of the classic f...

In [76]:
# Removal of Stop Words
from nltk.corpus import stopwords
stop = stopwords.words('english')
data['Plots_Cleaned_A'] = data['Plots_Cleaned_A'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
data[['Plot','Plots_Cleaned_A']].head()

,Plot,Plots_Cleaned_A
0,"A bartender is working at a saloon, serving dr...",bartender working saloon serving drinks custom...
1,"The moon, painted with a smiling face hangs ov...",moon painted smiling face hangs park night you...
2,"The film, just over a minute long, is composed...",film minute long composed two shots first girl...
3,Lasting just 61 seconds and consisting of two ...,lasting 61 seconds consisting two shots first ...
4,The earliest known adaptation of the classic f...,earliest known adaptation classic fairytale fi...

In [77]:
#Common word removal - just looking at 10 most frequently occuring words
freq = pd.Series(' '.join(data['Plots_Cleaned_A']).split()).value_counts()[:10]
freq

one       28865
back      22336
father    20114
two       19861
tells     19614
love      19444
also      17519
home      17461
later     17200
get       16846
dtype: int64

In [78]:
# remove them if you want to !
freq = list(freq.index)
data['Plots_Cleaned_A'] = data['Plots_Cleaned_A'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
data['Plots_Cleaned_A'].head()

0    bartender working saloon serving drinks custom...
1    moon painted smiling face hangs park night you...
2    film minute long composed shots first girl sit...
3    lasting 61 seconds consisting shots first shot...
4    earliest known adaptation classic fairytale fi...
Name: Plots_Cleaned_A, dtype: object

In [79]:
# Rare words removal - they wont have much associations with other words
freq = pd.Series(' '.join(data['Plots_Cleaned_A']).split()).value_counts()[-10:]
freq

paupathi        1
kimchifridge    1
climax1         1
bellbird        1
jilmil          1
mudprint        1
motored         1
yeas            1
nickolas        1
familywife      1
dtype: int64

In [80]:
freq = list(freq.index)

In [81]:
data['Plots_Cleaned_A'] = data['Plots_Cleaned_A'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
data['Plots_Cleaned_A'].head()

0    bartender working saloon serving drinks custom...
1    moon painted smiling face hangs park night you...
2    film minute long composed shots first girl sit...
3    lasting 61 seconds consisting shots first shot...
4    earliest known adaptation classic fairytale fi...
Name: Plots_Cleaned_A, dtype: object

In [82]:
# Spelling correction
# care should be taken for words like ur(your) etc otherwise text blob will convert it to something else
def clean_text(text):
    text = text.lower()
    text = re.sub(r"what's", "what is ", text)
    text = re.sub(r"\'s", " ", text)
    text = re.sub(r"\'ve", " have ", text)
    text = re.sub(r"can't", "can not ", text)
    text = re.sub(r"n't", " not ", text)
    text = re.sub(r"i'm", "i am ", text)
    text = re.sub(r"\'re", " are ", text)
    text = re.sub(r"\'d", " would ", text)
    text = re.sub(r"\'ll", " will ", text)
    text = re.sub(r"\'scuse", " excuse ", text)
    text = text.strip(' ')
    return text

data['Plots_Cleaned_A'] = data['Plots_Cleaned_A'].apply(clean_text)

In [83]:
from textblob import TextBlob
data['Plots_Cleaned_A'][:5].apply(lambda x: str(TextBlob(x).correct()))

0    bartender working saloon serving drinks custom...
1    moon painted smiling face hangs park night you...
2    film minute long composed shots first girl sit...
3    lasting 61 seconds consisting shots first shot...
4    earliest known adaptation classic fairytale fi...
Name: Plots_Cleaned_A, dtype: object

In [84]:
#  Tokenization
#TextBlob(data['Plots_Cleaned_A']).words
data['Plots_Cleaned_A'][:5].apply(lambda x: str(TextBlob(x).words))

0    ['bartender', 'working', 'saloon', 'serving', ...
1    ['moon', 'painted', 'smiling', 'face', 'hangs'...
2    ['film', 'minute', 'long', 'composed', 'shots'...
3    ['lasting', '61', 'seconds', 'consisting', 'sh...
4    ['earliest', 'known', 'adaptation', 'classic',...
Name: Plots_Cleaned_A, dtype: object

In [85]:
# Stemming
from nltk.stem import PorterStemmer
st = PorterStemmer()
data['Plots_Cleaned_A'][5:10].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

5    alic follow larg white rabbit rabbithol find t...
6    film open bandit break railroad telegraph offi...
7    film famili move suburb hope quiet life thing ...
8    open scene show interior robber den wall decor...
9    scene introduc use line poem2 santa clau play ...
Name: Plots_Cleaned_A, dtype: object

In [86]:
#  Lemmatization
from textblob import Word
data['Plots_Cleaned_A'][5:10].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))

5    alice follows large white rabbit rabbithole fi...
6    film open bandit breaking railroad telegraph o...
7    film family move suburb hoping quiet life thin...
8    opening scene show interior robber den wall de...
9    scene introduced using line poem2 santa claus ...
Name: Plots_Cleaned_A, dtype: object

# Advance Text Processing

In [91]:
# n- grams 
#TextBlob(data['Plots_Cleaned_A'][:1]).ngrams(2) # 2 represents bigrams
data['Plots_Cleaned_A'][:5].apply(lambda x: str(TextBlob(x).ngrams(2)))

0    [WordList(['bartender', 'working']), WordList(...
1    [WordList(['moon', 'painted']), WordList(['pai...
2    [WordList(['film', 'minute']), WordList(['minu...
3    [WordList(['lasting', '61']), WordList(['61', ...
4    [WordList(['earliest', 'known']), WordList(['k...
Name: Plots_Cleaned_A, dtype: object

In [92]:
# Term frequency
# TF = (Number of times term T appears in the particular row) / (number of terms in that row)
tf1 = (data['Plots_Cleaned_A'][1:2]).apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0).reset_index()
tf1.columns = ['words','tf']
tf1

         words  tf
0         moon   3
1        moons   2
2        fence   1
3       smiles   1
4      walking   1
5      causing   1
6      blocked   1
7          sit   1
8     shoulder   1
9         face   1
10       woman   1
11     railing   1
12       learn   1
13       hangs   1
14        left   1
15       scene   1
16     smiling   1
17        last   1
18       smile   1
19        gets   1
20        view   1
21      couple   1
22        past   1
23         see   1
24       bench   1
25         hat   1
26         man   1
27       night   1
28        fans   1
29     embrace   1
30        look   1
31       young   1
32      bigger   1
33        park   1
34      better   1
35  everything   1
36     painted   1
37         sky   1
38       frown   1
39        tree   1
40     perched   1

In [93]:
#IDF - Inverse Document Frequency
# IDF = log(N/n), where, N is the total number of rows and n is the number of rows in which the word was present.
for i,word in enumerate(tf1['words']):
  tf1.loc[i, 'idf'] = np.log(data.shape[0]/(len(data[data['Plots_Cleaned_A'].str.contains(word)])))
tf1
# The more the value of IDF, the more unique is the word.

         words  tf       idf
0         moon   3  3.533264
1        moons   2  5.927241
2        fence   1  4.302862
3       smiles   1  4.720048
4      walking   1  3.460418
5      causing   1  2.665018
6      blocked   1  5.409985
7          sit   1  1.051716
8     shoulder   1  4.403057
9         face   1  2.047786
10       woman   1  1.684291
11     railing   1  5.462629
12       learn   1  1.560656
13       hangs   1  4.443684
14        left   1  1.967350
15       scene   1  2.196250
16     smiling   1  5.146635
17        last   1  1.867355
18       smile   1  4.100267
19        gets   1  1.377107
20        view   1  2.695120
21      couple   1  2.365462
22        past   1  2.405001
23         see   1  0.811439
24       bench   1  5.283691
25         hat   1  1.944850
26         man   1  0.294605
27       night   1  1.373138
28        fans   1  4.922507
29     embrace   1  3.778986
30        look   1  1.720625
31       young   1  1.271133
32      bigger   1  5.136831
33        park   1  2.788480
34      better   1  3.016763
35  everything   1  2.799255
36     painted   1  5.403595
37         sky   1  3.448627
38       frown   1  7.281787
39        tree   1  2.314871
40     perched   1  7.368798

In [94]:
# Term Frequency – Inverse Document Frequency (TF-IDF)
#TF-IDF is the multiplication of the TF and IDF which we calculated above.
tf1['tfidf'] = tf1['tf'] * tf1['idf']
tf1

         words  tf       idf      tfidf
0         moon   3  3.533264  10.599792
1        moons   2  5.927241  11.854483
2        fence   1  4.302862   4.302862
3       smiles   1  4.720048   4.720048
4      walking   1  3.460418   3.460418
5      causing   1  2.665018   2.665018
6      blocked   1  5.409985   5.409985
7          sit   1  1.051716   1.051716
8     shoulder   1  4.403057   4.403057
9         face   1  2.047786   2.047786
10       woman   1  1.684291   1.684291
11     railing   1  5.462629   5.462629
12       learn   1  1.560656   1.560656
13       hangs   1  4.443684   4.443684
14        left   1  1.967350   1.967350
15       scene   1  2.196250   2.196250
16     smiling   1  5.146635   5.146635
17        last   1  1.867355   1.867355
18       smile   1  4.100267   4.100267
19        gets   1  1.377107   1.377107
20        view   1  2.695120   2.695120
21      couple   1  2.365462   2.365462
22        past   1  2.405001   2.405001
23         see   1  0.811439   0.811439
24       bench   1  5.283691   5.283691
25         hat   1  1.944850   1.944850
26         man   1  0.294605   0.294605
27       night   1  1.373138   1.373138
28        fans   1  4.922507   4.922507
29     embrace   1  3.778986   3.778986
30        look   1  1.720625   1.720625
31       young   1  1.271133   1.271133
32      bigger   1  5.136831   5.136831
33        park   1  2.788480   2.788480
34      better   1  3.016763   3.016763
35  everything   1  2.799255   2.799255
36     painted   1  5.403595   5.403595
37         sky   1  3.448627   3.448627
38       frown   1  7.281787   7.281787
39        tree   1  2.314871   2.314871
40     perched   1  7.368798   7.368798

In [95]:
# instead of calculating TF & IDF seperately we can use sklearn TF-IDF 
# from sklearn.feature_extraction.text import TfidfVectorizer
# tfidf = TfidfVectorizer(max_features=1000, lowercase=True, analyzer='word',
#  stop_words= 'english',ngram_range=(1,1))
# train_vect = tfidf.fit_transform(data['Plots_Cleaned_A'])

In [96]:
#  Bag of Words
from sklearn.feature_extraction.text import CountVectorizer
bow = CountVectorizer(max_features=1000, lowercase=True, ngram_range=(1,1),analyzer = "word")
train_bow = bow.fit_transform(data['Plots_Cleaned_A'])
train_bow

<34886x1000 sparse matrix of type '<class 'numpy.int64'>'
	with 2228946 stored elements in Compressed Sparse Row format>

In [97]:
# Sentiment Analysis
data['Plots_Cleaned_A'][:5].apply(lambda x: TextBlob(x).sentiment)
# o/p is polarity, subjectivity

0                                      (0.0, 0.0)
1      (0.09285714285714286, 0.25952380952380955)
2      (-0.13095238095238096, 0.3666666666666667)
3    (-0.007142857142857141, 0.21904761904761902)
4       (0.03333333333333332, 0.5058333333333334)
Name: Plots_Cleaned_A, dtype: object

In [98]:
# extracting only polatity to determine the sentiment
data['sentiment'] = data['Plots_Cleaned_A'].apply(lambda x: TextBlob(x).sentiment[0] )
data[['Plot','sentiment']].head()

                                                Plot  sentiment
0  A bartender is working at a saloon, serving dr...   0.000000
1  The moon, painted with a smiling face hangs ov...   0.092857
2  The film, just over a minute long, is composed...  -0.130952
3  Lasting just 61 seconds and consisting of two ...  -0.007143
4  The earliest known adaptation of the classic f...   0.033333

In [101]:
# reference - https://www.analyticsvidhya.com/blog/2018/02/the-different-methods-deal-text-data-predictive-python/